.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, lightgreen, white);
    margin: 0 auto;
    border-radius: 20%;
  }
  
  body {
    background-image: linear-gradient(to right, lightblue, white);
  }
  .square {
    height: 200px;
    width: 200px;
    border: solid grey 1px;
  }
  
  .mole {
    background-image: url('https://365psd.com/images/previews/7d7/cartoon-mole-52006.png');
    background-size: cover;
  }
  
  .container {
    text-align: center;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-evenly;
  }
  
  #score,
  #time-left {
    font-weight: 2000;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(140, 112, 216);
    font-size: 1.6rem;
  }
  
  .title {
    font-size: 1.5rem;
    padding-right: 0.3rem;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .score-container,
  .timer-container {
    display: flex;
  }
  